
$color-primary-white: #fff;
$color-primary-gray: #e9e9e9f7;
$color-primary-darkgray:rgba(201, 201, 201, 0.969);
$color-prrimary-darkbrown:rgba(146, 97, 0, 0.884);
$color-prrimary-lightbrown:  rgba(255, 217, 90, 0.678);