@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  width: 99%;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.home-hero {
  background-image: linear-gradient(to right, rgba(146, 97, 0, 0.884), rgba(255, 217, 90, 0.678)), url(/header-img.jpg);
  padding: 7em 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* title */
}
.home-hero .title-container {
  margin: 40px;
}
.home-hero .title-container .title {
  color: #fff;
}
.home-hero .t1 {
  font-size: 1.5rem;
  font-weight: 500;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.home-hero .title-span {
  font-weight: 100;
  display: block;
  font-size: 1.2rem;
}
.home-hero .t2 {
  animation: moveInRight;
  animation-duration: 1s;
}

/* header */
header {
  margin: 0.45em;
  position: absolute;
  left: 0;
  right: 0;
}
header .logo {
  left: 20px;
  padding: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0.4em;
}

nav a {
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.25em;
  color: #fff;
}

#cta {
  background-color: rgb(255, 247, 212);
  width: 95%;
  margin: 0 auto;
}

.cta {
  padding: 5em 1em 0 1em;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(255, 247, 212);
  width: 95%;
  margin: 0 auto;
  color: rgb(34, 27, 27);
}

.cta-disc {
  background-color: rgb(255, 247, 212);
  padding: 2em;
  width: 95%;
  margin: 0 auto;
  color: rgb(76, 61, 61);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  margin: 0.5em auto;
  border-color: rgba(34, 27, 27, 0.486);
  border-spacing: 2em;
}

.plan-disc {
  color: rgb(34, 27, 27);
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: rgb(255, 247, 212);
  width: 95%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2em;
}

.container {
  background-color: rgb(255, 247, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.container > * {
  flex-basis: 1 1 100%;
}

.trip-disc {
  color: rgb(76, 61, 61);
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: rgb(255, 247, 212);
  width: 95%;
  margin: 0 auto;
  font-weight: 400;
}

.flex {
  padding: 1.5em;
  text-align: start;
  width: 30em;
}

.flex-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.flex-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.596);
}

.card-img {
  display: block;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  color: #3d3d3d;
  margin-bottom: 1.5rem;
}

#faq {
  background-color: rgb(255, 247, 212);
  width: 95%;
  margin: 0 auto;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  margin: 0.5em auto;
  border-color: rgba(34, 27, 27, 0.486);
  border-spacing: 2em;
}

.faq-head h2 {
  padding: 1em;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(255, 247, 212);
  color: rgb(34, 27, 27);
}

.faq-head p {
  padding: 1em;
  font-size: 1rem;
  font-weight: 300;
  width: 95%;
  margin: 0 auto;
  background-color: rgb(255, 247, 212);
  color: rgb(34, 27, 27);
}

.faq-container {
  background-color: rgb(255, 247, 212);
  padding: 2em;
  width: 95%;
  margin: 0 auto;
}

.faq-disc .faq-ul {
  list-style: none;
}
.faq-disc .faq-ul .faq-li {
  text-align: start;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(228, 220, 186);
  color: rgb(34, 27, 27);
}
.faq-disc .faq-ul .faq-li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.flight-home {
  height: 90vh;
  background-image: linear-gradient(to right, rgba(146, 97, 0, 0.884), rgba(255, 217, 90, 0.678)), url(/header-img.jpg);
  background-size: cover;
  filter: blur(3px);
  position: relative;
}

.flight-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  padding: 5em;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 200;
  border: 2px solid;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5137254902);
  background-color: rgba(22, 22, 22, 0.2);
}

.buttons:link,
.buttons:visited {
  padding: 0.5em;
  border-radius: 100px;
  transition: all 0.4s;
  display: inline-block;
}

.buttons:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2274509804);
}

.button-white {
  background-color: #fff;
  color: rgb(76, 61, 61);
  letter-spacing: 0.1rem;
  text-decoration: none;
  animation: moveUp 1s;
  animation-timing-function: ease-in-out;
  font-size: 1rem;
  font-weight: 400;
}

.flex-btn {
  background-color: rgb(76, 61, 61);
  color: rgba(255, 255, 255, 0.862745098);
  text-decoration: none;
  animation-timing-function: ease-in-out;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.flex-btn:link,
.flex-btn:visited {
  border-radius: 100px;
  transition: all 0.4s;
  display: inline-block;
}

.flex-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.flex-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2274509804);
}

.cta-btn {
  background-color: rgb(76, 61, 61);
  color: rgba(255, 255, 255, 0.862745098);
  text-decoration: none;
  animation-timing-function: ease-in-out;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em;
}

.cta-btn:link,
.cta-btn:visited {
  border-radius: 100px;
  transition: all 0.4s;
  display: inline-block;
}

.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cta-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2274509804);
}/*# sourceMappingURL=main.css.map */