
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: sans-serif;
    color: black;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
}

/* animation */
@keyframes moveInLeft {
    0% {

        opacity: 0;
        transform: translateX(-2rem);
    }

    80% {
        opacity: .8;
        transform: translateX(1.5rem) ;

    }

    100% {

        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {

        opacity: 0;
        transform: translateX(2rem);
    }

    80% {
        opacity: .8;
        transform: translateX(-1.5rem) ;

    }

    100% {

        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }


}

/* logo */
.logo{
    left: 20px;
    padding: 15px;
}

/* header */

header {
    margin: .45em;
    position: absolute;
    left: 0;
    right: 0;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav li {
    display: inline-block;
    margin: .4em;
}

nav a {

    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: .25em;
    color: #fff;
}

/* home-hero */

 .home-hero {
    background-image: linear-gradient(to right, rgba(156, 156, 74, 0.653), rgba(231, 231, 19, 0.788)), url(./header-img.jpg);
    padding: 7em 0;
} 



/* title */


.title-container{
    margin: 40px;
}
.title{
    color: #fff;

}
.t1{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.title-span{
    font-weight: 100;
    display: block;
    font-size: 1.2rem;

    
} 

.t2{
    animation: moveInRight;
    animation-duration: 1s;
}

/* buttons */

.buttons:link,
.buttons:visited
{
    padding: .5em;
    border-radius: 100px;
    transition: all .4s;
    display: inline-block; 

}

.buttons:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000033;
}

.buttons:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #0000003a;

}
.button-white {
    background-color: #fff;
    color: #9e9e9e;
    text-decoration: none;
    animation: moveUp 1s ;
    font-size: .8;
    font-weight: 200 ;
     
   
}
