.buttons:link,
  .buttons:visited {
    padding: .5em;
    border-radius: 100px;
    transition: all .4s;
    display: inline-block; }
  
  .buttons:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000033; }
  
  .buttons:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #0000003a; }
  
  .button-white {
    background-color: $color-primary-white;
    color: #9e9e9e;
    text-decoration: none;
    animation: moveUp 1s;
    animation-timing-function: ease-in-out;
    font-size: 1rem;
    font-weight: 200; }

    .flex-btn{
      background-color:rgba(156, 156, 74, 0.653);
    color: #ffffffdc;
    text-decoration: none;
    animation-timing-function: ease-in-out;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .1em;

    }
  

    .flex-btn:link,
  .flex-btn:visited {
    border-radius: 100px;
    transition: all .4s;
    display: inline-block; }
  
  .flex-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000033; }
  
  .flex-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #0000003a; }