// body{
//    
//     filter: blur(3px);

// }


//    .flight {
//     background-image: url(../img/flight-img.jpg);
//     background-size: 100%;
   
//     height: 50rem;
//     position: absolute;
//     z-index: 999;
//    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    
  


    .flight-container{
        padding: 10rem 0;
        width: 95%;
        margin: 0 auto;
        
    }

    .flight{

        border-radius: 0.4rem;
        background-image: linear-gradient(105deg,
        rgba(#a09f9f, .7) 0%,
        rgba(#fff, .7) 50%,
        transparent 50%),url(../img/flight-img.jpg);
       background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20rem;
    
    }


    .flight-form {
        width:50%;
        padding: 1.5rem 1rem;

        
    }
  
    .form-group:not(:last-child){
        margin-bottom: 1.8rem;
    }

    .form-input{
        font-size: .85em;
        padding: .4rem;
        border-radius: 2px;
        border: none;
        border-bottom: 2px solid transparent ;
        width: 90%;
        background-color: rgba(#fff, .95);
        display: block;
        transition: all .3s;
    }

    .form-input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba( black, .2);
        border-bottom: 3px solid $color-primary-deepbrown;

        &::-webkit-input-placeholder{
            color: #999;
        }

        &:focus:invalid{
            border-bottom: 3px solid rgba(255, 0, 0, 0.767);

        }
    }


    .form-label {
        font-size: .7rem;
        font-weight: 700;
        margin-right: 9rem !important;
        display: block;
        transition:all 1s;
    }

    .form-label1 {
        font-size: .7rem;
        font-weight: 700;
        margin-right: 9rem !important;
        display: block;
        transition:all 1s; }

   

    .form-input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;

    }

    // // .form-radio {
    // //    width: 0;

    // // }

    // .radio-btn {
    //     height: 2rem;
    //     width: 2rem;
    //     padding: 5px 7px 3px 7px;
    //     border: 5px solid $color-primary-deepbrown;
    //     border-radius: 50%;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    
    //     &::before {
    //         padding-left: 2rem;
    //     }

    //     &::after {

    //         content:"";
    //         height: 1px;
    //         width: 1px;
    //         border-radius: 50%;
    //         position: absolute;
    //         top: 50%;
    //         left: 0;
    //         right: 0;
    //         background-color: blue;

    //     }
    // }


    .select{
        font-size: .85em;
        padding: .4rem;
        border-radius: 2px;
        border: none;
        border-bottom: 2px solid transparent ;
        width: 90%;
        background-color: rgba(#fff, .95);
        display: block;
        margin-bottom: 2rem;

        .select:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba( black, .2);
        border-bottom: 3px solid $color-primary-deepbrown;}
    }


    
@media (min-width:40rem) {

    
    .flight{
        height: 25rem;
    
    }

    .form-input{
        font-size: 1em;}

        .form-label {
       
            font-size: 1em;
            margin-right: 8rem !important;
            
        }

        .form-label1{

       
            font-size: 1em;
            margin-right: 16.5rem !important;
            
        }
  }
  
  @media (min-width:60rem) {
  
    

    
    .flight-container{
        padding: 15rem 0;
        width: 80%;
        margin: 0 auto;
        
    }
    
    
    .flight{
        height: 36rem;
    
    }

    .form-input{
        font-size: 1.2em;}

        .form-label {
       
            font-size: 1em;
            margin-right: 21.2rem !important;
            
        }

        .form-label1{

       
            font-size: 1em;
            margin-right: 30rem !important;
            
        }

.select{
    font-size: 1rem;
    padding: .7rem;
}
  }
  




