
#cta {
    background-color: #fff7d4;
    width: 95%;
    margin: 0 auto; }
  
  .cta {
    padding: 5em 1em 0 1em;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #fff7d4;
    width: 95%;
    margin: 0 auto;
    color: #221b1b; }
  
  .cta-disc {
    background-color: #fff7d4;
    padding: 2em;
    width: 95%;
    margin: 0 auto;
    color: #4c3d3d; }
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: .5em auto;
    border-color: rgba(34, 27, 27, 0.486);
    border-spacing: 2em; }
  