#faq {
    background-color:rgb(255, 247, 212) ;
    width: 95%;
    margin: 0 auto;
}

hr{

    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
    width: 10%;
    margin: .5em auto;
   border-color: rgba(34, 27, 27, 0.486) ;
   border-spacing: 2em;


}

.faq-head h2{
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgb(255, 247, 212);
    color: rgb(34, 27, 27);
}

.faq-head p{
    padding: 1em;
    font-size: 1rem;
    font-weight: 300;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(255, 247, 212);
    color: rgb(34, 27, 27);
}

.faq-container{
    background-color: rgb(255, 247, 212);
    padding: 2em;
    width: 95%;
    margin: 0 auto;

}


.faq-disc{

    .faq-ul {
        list-style:none;

        .faq-li{
            text-align: start;
            padding: 1em;
            margin-bottom: 2em;
            background-color:   rgb(228, 220, 186);
            color: rgb(34, 27, 27);
            


           


        }

        

    }

    

}




