
#faq {
  background-color: #fff7d4;
  width: 95%;
  margin: 0 auto; }

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  margin: .5em auto;
  border-color: rgba(34, 27, 27, 0.486);
  border-spacing: 2em; }

.faq-head h2 {
  padding: 1em;
  font-size: 2rem;
  font-weight: 500;
  background-color: #fff7d4;
  color: #221b1b; }

.faq-head p {
  padding: 1em;
  font-size: 1rem;
  font-weight: 300;
  width: 95%;
  margin: 0 auto;
  background-color: #fff7d4;
  color: #221b1b; }

.faq-container {
  background-color: #fff7d4;
  padding: 2em;
  width: 95%;
  margin: 0 auto; }

.faq-disc .faq-ul {
  list-style: none; }
  .faq-disc .faq-ul .faq-li {
    text-align: start;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #e4dcba;
    color: #221b1b; }