 /* header */
 header {
    margin: .45em;
    position: absolute;
    left: 0;
    right: 0;

    .logo {
      left: 20px;
      padding: 15px; }
   }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  nav li {
    display: inline-block;
    margin: .4em; }
  
  nav a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: .25em;
    color: $color-primary-white; }
 