
  
  
  .home-hero {
    background-image: linear-gradient(to right, rgba(146, 97, 0, 0.884), rgba(255, 217, 90, 0.678)), url(../img/home-img.jpg);
    padding: 7em 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* title */ }
    .home-hero .title-container {
      margin: 40px; }
      .home-hero .title-container .title {
        color: #fff; }
    .home-hero .t1 {
      font-size: 1.5rem;
      font-weight: 500;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .home-hero .title-span {
      font-weight: 100;
      display: block;
      font-size: 1.2rem; }
    .home-hero .t2 {
      animation: moveInRight;
      animation-duration: 1s; }
  
  /* header */
  header {
    margin: .45em;
    position: absolute;
    left: 0;
    right: 0; }
    header .logo {
      left: 20px;
      padding: 15px; }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  nav li {
    display: inline-block;
    margin: .4em; }
  
  nav a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: .25em;
    color: #fff; }
  