.logo{
    z-index: 1000;
     top: .7rem;
    left: 1rem;
    width: 3rem;
    color: #fff7d4;
    position: absolute;
    position: fixed;
}

.show {
    background-color:   #463737cc;
padding: 2em;
width: 100vw;
left: 0;
z-index: 1000;
transition: all 350ms;
}

.navigation {



position: fixed;
    .checkbox {
        display: none;
        

    }

   

    .nav-button {
        background-color: #fff7d4;
        height: 3rem;
        width: 3rem;
        position: fixed;
        border-radius: 50%;
        top: .5rem;
        right: 1rem;
        z-index: 1000;
        box-shadow: 0 1rem 3rem #00000033;
        text-align: center;
        cursor: pointer;
    }



    
.nav-background{

    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-image: radial-gradient( rgba(146, 97, 0, 0.966), rgba(255, 217, 90, 0.938));
    transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-nav{

    height: 100vh;
    width:0;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list{
    position: absolute;
    text-align: center;
    top: 15%;
    left: 0;
    right: 0;
    list-style: none;
   
}
.nav-item{
    margin: 1.5rem;
}

.nav-link{
    &:link,
    &:visited{
        display: inline-block;
        font-size: 1rem;
        padding: .5px;
        font-weight: 300;
        text-decoration: none;
        background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, $color-primary-lightbrown 50%);
        background-size: 250%;
        transition: all .4s;
    }

    &:hover,
    &:active {
        background-position: 100%;
        color:$color-primary-deepbrown ;
        transform: translateX(1rem);
    }

}

.checkbox:checked ~ .nav-background {
    transform: scale(100);
   
}

.checkbox:checked ~ .nav-nav {
    
    width:100%;
    opacity: 1;
   
}


.nav-icon{
    position: relative;
    margin-top: 1.5rem;


    &,
    &::before,
    &::after {
        width: 1.5rem;
        height: 1px;
        background-color:$color-primary-deepbrown ;
        display: inline-block;
    }

    &::before,
    &::after{
        content: "";
        left: 0;
         position: absolute;
         transition: all .25s;
    }

    &::before{ top: -.7rem;}
    &::after{ top: .7rem;}
}

.nav-button:hover .nav-icon::before {
    top: -1rem;
}

.nav-button:hover .nav-icon::after {
    top: 1rem;
}

.checkbox:checked + .nav-button .nav-icon {
  background-color: transparent;
   
}

.checkbox:checked + .nav-button .nav-icon::before {
   transform: rotate(45deg);
   top: 0;
     
  }


  .checkbox:checked + .nav-button .nav-icon::after {
    top: 0;
    transform: rotate(-45deg);
      
   }


}


@media (min-width:40rem) {
    .checkbox:checked ~ .nav-background {
        transform: scale(100);
       
    }

    .nav-button {
        height: 3.3rem;
        width: 3.3rem;
        top: .5rem;
        right: 1rem;
    }


    .nav-icon{
        position: relative;
        margin-top: 1.5rem;
    
    
        &,
        &::before,
        &::after {
            width: 1.7rem;
            height: 1px;
            background-color:$color-primary-deepbrown ;
            display: inline-block;
        }}
    

    
    .navigation .nav-link{
    &:link,
    &:visited{
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem;
        font-weight: 300;
        text-decoration: none;
        background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, $color-primary-lightbrown 50%);
        background-size: 250%;
        transition: all .4s;
    }

} }

@media (min-width:60rem) {
  
    .logo{
        z-index: 1000;
         top: .7rem;
        left: 1rem;
        width: 4rem;
    
      
    }

    .show {
    padding: 2.5em;
    }

    .navigation{
        
        .checkbox:checked ~ .nav-background {
            transform: scale(100);
           
        }
        .nav-button {
        background-color: #fff7d4;
        height: 4rem;
        width: 4rem;
        position: fixed;
        border-radius: 50%;
        top: .5rem;
        right: 1rem;
        z-index: 1000;
        box-shadow: 0 1rem 3rem #00000033;
        text-align: center;
        cursor: pointer;}

        .nav-background{

            height: 2rem;
            width: 2rem;
            top: 1.5rem;
            right: 2rem;
            
        }


        .nav-link{
            &:link,
            &:visited{
                display: inline-block;
                font-size: 2rem;
                padding: .8rem;
                font-weight: 300;
                text-decoration: none;
                background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, $color-primary-lightbrown 50%);
                background-size: 250%;
                transition: all .4s;
            }
        }


        .nav-icon{
            position: relative;
            margin-top: 2rem;
        
        
            &,
            &::before,
            &::after {
                width: 2.3rem;
                height: 2px;
              
            }
        
            &::before{ top: -.8rem;}
            &::after{ top: .9rem;}


        }



        
        
    }
}